{% extends 'base.html' %}

{% block title %}List{% endblock %}

{% block body %}
    {% for list in lastest_question_list %}
        <ul>
            <a href="{% url 'detail' list.id%}"><li>{{ list }}</li></a>
            {% comment %} {% url 'detail' list.pk %}              {% endcomment %}
        </ul>
    {% endfor %}

    <form action="/polls/" method='post'>
        {% csrf_token %}
        <label for="username">Username</label>
        <input id='username' type="text" name='username' value='--Your username here--'>
        <input type="submit" value='Submit'>
    </form>
{% endblock %}

